*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 600;
}

body{
    height:100vh;
   
}
header{
    width:100%;
    background-color: #EEEEEE;
}
.head{
    margin:0 auto;
    background-color: #EEEEEE;
    padding:50px;
    overflow:visible;
    height: 175px;
    max-height: fit-content;
    justify-content:space-around;
    display: flex;
    min-width: 1365px;
}
.cont{
    width: fit-content;
    display: flex;
    position: relative;

}
#user{
    float:right;
    height: 7rem;
    position: relative;
}
#logo{
    position: relative;
    width:100%;
    height:12rem;
    margin-top: -48px;

}

.cont {
    display: flex;
    justify-content: center; /* Align buttons horizontally */
}

.cont button:nth-child(1),
.cont button:nth-child(2),
.cont button:nth-child(3){
    padding: 30px 20px; /* Adjust padding as needed */
    margin: 0 10px; /* Add spacing between buttons */
    font-size: 18px; /* Adjust font size as needed */
    font-weight: bold;
    color: #3D3B40;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s; /* Add transition for smoother hover effect */
}

.cont button:hover {
    color: #176d96; 
    text-shadow: 1px 1px 7px rgb(204, 204, 204);
}


.cont button:nth-child(4) {
    display: flex;
    text-align: center;
    justify-content: center; 
    font-size:18px;
    font-family: "Roboto Condensed", sans-serif;
    border-radius: 6px;
    z-index: 2;
    color: #176d96;
    border: 1px solid #176d96;
    box-shadow: 2px 2px 7px grey;
    height: 3rem;
    width: 9rem;
    padding: 9px 20px;
    margin-top: 20px;
}
#contact{
    text-decoration: none;
    color: #176d96;
}

.cont button:nth-child(4):hover{
    #contact{
        color:#EEEEEE;}
    background-color: #1c93c9;
}

.row{
    height:300px;
}


#logo:hover{
    cursor: pointer;
}
#user:hover{
    cursor: pointer;

}

.about{
    display:flex;
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
    justify-content: space-around;
}
.about img{
    height:7rem;
}
.about div{
    margin:80px;
}
.about .box{

    /*background-color: rgba(34, 40, 49,0.1);*/
    height:17rem;
    width:15rem;
    text-align: center;
    border-radius: 5px;
}
#about-us{
    color:black;
    text-align: center;
    font-size: 40px;
    font-weight: 300;
}
#contributers{
    color:black;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-top: -10px;
}

.contain{
    min-width: 1350px;
    height:30rem;
    position: relative;
    width: 100vw;
}
.cont-user{
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture{
    border-radius: 50%;
    margin-top: 1rem;

}
.name{
    margin-top: 14px;
    border: none;
    color: #222831;
    background-color: white;
}
.github{
    color: #222831;
}
.email{
    font-weight: 500;
    font-size: 15px;
    line-height: 60px;
}
#contact{
    border: #176d96;
}


/* ########################### */
footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 200px;
    width: 101.2%;
    min-width: 1350px;
    background-color: #222831;
    padding:1rem 2rem;
    padding-left: 1rem;
}

.info{
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info p{
    color: #fff;
}

#mail{
    color: #fff ;
}

#logo-contact{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#linkedin{
    display:flex;
    padding: 15px 45px;
    background-color: #fff;
    border-radius: 28px;
    width: 200px;
    height: 60px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

#contact-us{
    display: flex;
    padding: 15px 45px;
    color: #fff;
    border: 1px solid #fff;
    background-color: #222831;
    border-radius: 28px;
    width: 180px;
    height: 50px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#contact-us:hover{
    background-color: #EEEEEE;
    color:#222831 ;
}

#logo-contact img {
    width: 250px;
    height: 250px;
}

#logo-contact a{
    cursor: pointer;
}

#linkedin-logo {
    width: 16px;
    height: 16px;
    margin-left: 4px;
    vertical-align:baseline;
    margin-bottom: -2px;
}

.follow-us {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.follow-us h4 {
    margin-bottom: 20px;
    color: #fff;
}