* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';

}

body {
    margin: 0;
    padding: 0;
    display: flex;
}


/* register form div */
#register-div {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    border-radius: 10px 0 0 10px;
    background-color:#F7F7F7;

}

#register{
    width: 50%;
    height: 100%;
    border-radius: 10px 0 0 10px;
    color: #393E46;
}

#picture{
    width: 50%;
    height: 100%;
    border-radius: 0px 10px 10px 0px;
    background-color: #EEEEEE;
}
#picture>img {
    
    display: flex;
    width: auto;
    height: auto;
    border-radius: 1 10px 10px 0;
    margin-top: 25%;
    margin-left: 10%;
    
}

#register-div h2 {
    text-align: center;
    margin-bottom: 20px;
}

#register-div form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#register-div form div {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

#register-div form div input {
    width: 48%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

#register-div form input {
    width: 80%;
    margin-bottom: 10px;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

#register-div>button {
    width: 50%;
    margin-top: 10px;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: #1891c8;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

/* login form div */
.head {
    background-color: #1891c8;
    padding: 0;
    height: 100vh;
    width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#user{
    position: flex;
    align-self: center;
    width: 70px;
    margin-bottom: 30px;
    height: 70px;
    margin-left: 80px;

}
#user:hover{
    cursor:pointer
}

.dropdown-content a{
    text-decoration: none;
    color: white;
}
.dropdown-content{
    display: none;
    
}
.dropdown:hover{
    .dropdown-content{
        display: block;
    }
}
.dropdown-content a:hover{
    color: gray;
    text-shadow: 1px 1px 7px rgb(204, 204, 204);
}
.dropdown-content li{
    padding: 7px 4px;
    margin-left: 80px;
}

.dropdown-content ul{
    list-style-type: none;
}


.logo {
    align-self: center;
    height: 70px; /* Decreased height */
    width: 150px; /* Decreased width */
    margin-top: 30px;
    border-radius: 5px;
    background-color: #EEEEEE;
    flex-shrink: 0; /* Prevent the logo from shrinking */
    padding: 0; 
}

 
.cont {
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
    align-items: center; /* Center align buttons horizontally */
}

.cont button {
    font-size: 20px;
    align-items: center;
    color: white;
    background-color: #1891c8;
    border: 0;
    margin-bottom: 100px; 
    font-weight: 700;
}

.cont button:hover {
    color: rgb(56, 56, 56);
}

.cont button:nth-child(4) {
    background-color: #EEEEEE;
    color: #1891c8;
    border-radius: 22px;
    text-align: center;
    width: 150px;
    border: 1px solid grey;
    height: 50px;
    font-size: 20px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-weight: 400;
}

.cont button:nth-child(4):hover {
    color: #EEEEEE;
    background-color: rgb(56, 56, 56);
    cursor: pointer;
    border: none;
}


main {
    border: none;
    width: 45%;
    height: 60%;
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
    background-color: #F7F7F7;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    display: flex;
}



#register-div>button:hover {
    background-color: #046a99;
    cursor: pointer;

}