* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';

}

body {
    margin: 0;
    padding: 0;
    display: flex;
}


/* register form div */
#register-div {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    border-radius: 10px 0 0 10px;
    background-color: #F7F7F7;

}

#register-div h2 {
    text-align: center;
    margin-bottom: 20px;
}

#register-div form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#register-div form div {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

#register-div form div input {
    width: 48%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

#register-div form input {
    width: 80%;
    margin-bottom: 10px;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

#register-div form button {
    width: 50%;
    margin-top: 10px;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: #1891c8;
    color: white;
    cursor: pointer;
    font-weight: bold;
}


/* login form div */
.head {
    background-color: #1891c8;
    padding: 0;
    height: 100vh;
    width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user{
    position: flex;
    align-self: center;
    width: 70px;
    margin-bottom: 30px;
}
.logo {
    align-self: center;
    height: 70px; /* Decreased height */
    width: 150px; /* Decreased width */
    margin-top: 30px;
    border-radius: 5px;
    background-color: #EEEEEE;
    flex-shrink: 0; /* Prevent the logo from shrinking */
    padding: 0; 
}
  

.contact{
    background-color: grey;
    color:#EEEEEE;
    border-radius: 22px;
    text-align: center;
    width:150px;
    border: 1px solid grey;
    justify-content: center;
    height:50px;
    font-size:20px;
    margin-left: 45px;

}
.product{
    text-decoration: none;
    color: white;
    font-size: 20px;
    align-self: center;

}
.impact{
    text-decoration: none;
    color: white;
    font-size: 20px;
    align-self: center;
    

}
.company{
    text-decoration: none;
    color: white;
    font-size: 20px;
    align-self: center;

}

main {
    border: none;
    width: 45%;
    height: 60%;
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
    background-color: #F7F7F7;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    display: flex;
}

#login-register-div {
    width: 50%;
    height: 100%;
    border-radius: 10px 0 0 10px;
    color: #393E46;
}

#login-section {
    width: 100%;
    height: 60%;
    padding: 1rem 1rem 0 1rem;
    text-align: center;
    color: #393E46;
}

#login-section>form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#login-section>form>input {
    border: 1px solid #ccc;
    outline: none;
    width: 90%;
    margin: 1rem 0;
    border-radius: 5px;
    padding: 0.5rem;
}

#login-section>form>button {
    border: none;
    width: 50%;
    border-radius: 5px;
    margin-top: 0.5rem;
    padding: 0.5rem;
    background-color:#1891c8;;
    color: #000;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    color:white;
}

#login-section>form>button:hover {
    background-color: #92C7CF;
    cursor: pointer;

}

#register-and-social-media {
    width: 100%;
    padding: 0 1rem 1rem 1rem;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}



/* wallet img div that keeps switching on click */
#picture {
    width: 50%;
    height: 100%;
    border-radius: 0 10px 10px 0;
    background-color:#1891c8;

}

#picture>img {
    display: block;
    width: 100%;
    margin: auto;
    border-radius: 0 10px 10px 0;
    margin-top: 25%;
}


@media screen and (max-width : 670px) {
    body {
        height: fit-content;
    }

    #page-container-div {
        width: 100%;
        height: 100vh;
        display: flex;
    }

    #back-img-right {
        display: none;
    }

    #back-img-left {
        display: none;
    }

    main {
        border: none;
        width: 100%;
        height: fit-content;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #F7F7F7;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        display: flex;
        flex-direction: column;
        
    }



    #login-register-div {
        width: 100%;      
    }


    #login-section {
        width: 100%;
        height: 60%;
        padding: 1rem 1rem 0 1rem;
        text-align: center;
        color:#393E46;
    }

    #login-section>form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    #login-section>form>input {
        border: 1px solid gray;
        outline: none;
        width: 90%;
        margin: 1rem 0;
        border-radius: 5px;
        padding: 0.5rem;
    }

    #picture {
        width: 100%;
        height: 70vh;
        border-radius: 0;
        z-index: 5;
    }

    #picture>img {
        border: 1px solid gray;
        width: 50%;
    }



    #register-div {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        z-index: 10;
    }

    #register-div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10px 0 0 10px;
        background-color: #F7F7F7;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        color:#393E46;
    }

}