*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 600;
}

body{
    height:100vh;
}
header{
    width:100%;
    background-color: #EEEEEE;
}
.head{
    margin:0 auto;
    background-color: #EEEEEE;
    padding:50px;
    overflow:visible;
    height: 175px;
    max-height: fit-content;
    justify-content:space-around;
    display: flex;
    min-width: 950px;
}
.cont{
    width: fit-content;
    margin-right:-17% ;
    display: flex;
    position: relative;

}
#user{
    float:right;
    height: 135%;
    margin-top: -4%;
    position: relative;
}
#logo{
    position: relative;
    width:100%;
    height:12rem;
    margin-top: -48px;

}

.cont {
    display: flex;
    justify-content: center; /* Align buttons horizontally */
}

.cont button:nth-child(1),
.cont button:nth-child(2),
.cont button:nth-child(3){
    padding: 30px 20px; /* Adjust padding as needed */
    margin: 0 10px; /* Add spacing between buttons */
    font-size: 20px; /* Adjust font size as needed */
    font-weight: bold;
    color: #3D3B40;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s; /* Add transition for smoother hover effect */
}

.cont button:hover {
    color: #176d96; 
    text-shadow: 1px 1px 7px rgb(204, 204, 204);
}


.cont button:nth-child(4) {
    display: flex;
    text-align: center;
    justify-content: center; 
    font-size:20px;
    font-family: "Roboto Condensed", sans-serif;
    border-radius: 6px;
    z-index: 2;
    color: #176d96;
    border: 1px solid #176d96;
    box-shadow: 2px 2px 7px grey;
    height: 3rem;
    width: 9rem;
    padding: 9px 20px;
    margin-top: 20px;
}


.cont button:nth-child(4):hover{
    color:#EEEEEE;
    background-color: #1c93c9;
}

.row{
    height:300px;
}
.job{
    margin-left: 380px;
    height: 280px;
    margin-top: 30px;
}
#lookforajob{
    margin-top: 110px;
    margin-right: 140px;
}
#Yes{
    margin-top: 5px;
    margin-left:105px;
    text-align: center;
    width:9rem;
    justify-content: center;
    height: 45px;
    font-size:20px;
    font-family: "Roboto Condensed", sans-serif;
    position: relative;
    border-radius: 6px;
    z-index: 2;
    color: #176d96;
    border: 1px solid #176d96;
    box-shadow: 2px 2px 7px grey;
    background-color: #EEEEEE;
}
#Yes:hover{
    color:#EEEEEE;
    background-color: #1c93c9;

}
.divlook{
    display: flex;
    overflow:visible;
    margin-left: auto;
    margin-right: auto;
    height:fit-content;
    position: relative;
    margin-top: -8%;
    min-width: 764px;
    left:-1rem;
}
.welcome2{
    min-width: 764px;
}
.welcome{
    padding: 5%;
    text-align: center;
    font-weight: bolder;
    font-size: 60px;
    color: #176d96;
    text-shadow: 3px 3px  rgb(160, 160, 160);
}

#logo:hover{
    cursor: pointer;
}
#user:hover{
    cursor: pointer;

}

.dropdown-content a{
    text-decoration: none;
    color: #3D3B40;
}
.dropdown-content{
    display: none;
    
}
.dropdown:hover{
    .dropdown-content{
        display: block;
    }
}
.dropdown-content a:hover{
    color: #176d96;
    text-shadow: 1px 1px 7px rgb(204, 204, 204);
}
.dropdown-content li{
    padding: 7px 4px;
}

.dropdown-content ul{
    list-style-type: none;
}
.sec1{
    display: flex;
    justify-content: space-around;
    height: 300px;
    width: 100%;
    background-color: #EEEEEE;
    padding:1rem; 


}
.sec2{
    display: flex;
    justify-content: space-around;
    height: 300px;
    width: 100%;
    background-color:#EEEEEE;
    padding:1rem; 


}
.sec3{
    display: flex;
    justify-content: space-around;
    height: 300px;
    width: 100%;
    background-color:#1c93c9;
    padding:1rem; 


}
.sec4{
    display: flex;
    justify-content: space-around;
    height: 200px;
    width: 100%;
    background-color: gray;
    padding:1rem; 


}


@media only screen and (max-width:1024px){
    
    #user{
        right:-45%;
    }
    .contact{
        right:-25%;
    }
    #logo{
        left:-4rem;
    }
    .divlook{
        left:-17rem;
    }.work-with{
        left:-1rem;
    }
    #user{
        left:-6rem;
    }
    .cont{
        left:-4rem;
    }
    .company{
        left:-0.5rem;
    }
    .contact{
        left:-0.1rem;
    }
    .impact{
        left:-1.3rem;
    }

}
